<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration debug="true" scan="true" scanPeriod="30 seconds">
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n</pattern>
		</encoder>
	</appender>

<!--   
  	<logger name="org.springframework" level="DEBUG">
  		<appender-ref ref="consoleAppender"/>
  	</logger>
  	
  	<logger name="org.apache" level="DEBUG">
  		<appender-ref ref="consoleAppender"/>
  	</logger>
-->

	<!-- ERROR, WARN, INFO, DEBUG, TRACE -->
	<root>
		<level value="TRACE" />
		<appender-ref ref="consoleAppender" />
	</root>

</configuration>