<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.easymanual.dao.EmAttachmentsMapper" >
  <resultMap id="BaseResultMap" type="kr.co.easymanual.model.EmAttachments" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="langset" property="langset" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="hash_name" property="hashName" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="extension" property="extension" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="BIGINT" />
    <result column="uploader" property="uploader" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, langset, country, name, hash_name, path, extension, size, uploader, created_time, updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT <include refid="Base_Column_List" /> FROM em_attachments WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM em_attachments WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="kr.co.easymanual.model.EmAttachments" >
    INSERT INTO em_attachments (id, langset, country, name, hash_name, path, extension, size, uploader, created_time, updated_time)
    values (#{id,jdbcType=INTEGER}, #{langset,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{hashName,jdbcType=VARCHAR}, 
      #{path,jdbcType=VARCHAR}, #{extension,jdbcType=VARCHAR}, #{size,jdbcType=BIGINT}, #{uploader,jdbcType=VARCHAR}
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="kr.co.easymanual.model.EmAttachments" >
    INSERT INTO em_attachments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >id, </if>
      <if test="langset != null" >langset, </if>
      <if test="country != null" >country, </if>
      <if test="name != null" >name, </if>
      <if test="hashName != null" >hash_name, </if>
      <if test="path != null" >path, </if>
      <if test="extension != null" >extension, </if>
      <if test="size != null" >size, </if>
      <if test="uploader != null" >uploader, </if>
      <if test="createdTime != null" >created_time, </if>
      <if test="updatedTime != null" >updated_time, </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" > #{id,jdbcType=INTEGER}, </if>
      <if test="langset != null" > #{langset,jdbcType=VARCHAR}, </if>
      <if test="country != null" > #{country,jdbcType=VARCHAR}, </if>
      <if test="name != null" > #{name,jdbcType=VARCHAR}, </if>
      <if test="hashName != null" > #{hashName,jdbcType=VARCHAR}, </if>
      <if test="path != null" > #{path,jdbcType=VARCHAR}, </if>
      <if test="extension != null" > #{extension,jdbcType=VARCHAR}, </if>
      <if test="size != null" > #{size,jdbcType=BIGINT}, </if>
      <if test="uploader != null" > #{uploader,jdbcType=VARCHAR}, </if>
      <if test="createdTime != null" > #{createdTime,jdbcType=TIMESTAMP}, </if>
      <if test="updatedTime != null" > #{updatedTime,jdbcType=TIMESTAMP}, </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="kr.co.easymanual.model.EmAttachments" >
    update em_attachments
    <set >
      <if test="langset != null" > langset = #{langset,jdbcType=VARCHAR}, </if>
      <if test="country != null" > country = #{country,jdbcType=VARCHAR}, </if>
      <if test="name != null" > name = #{name,jdbcType=VARCHAR}, </if>
      <if test="hashName != null" > hash_name = #{hashName,jdbcType=VARCHAR}, </if>
      <if test="path != null" > path = #{path,jdbcType=VARCHAR}, </if>
      <if test="extension != null" > extension = #{extension,jdbcType=VARCHAR}, </if>
      <if test="size != null" > size = #{size,jdbcType=BIGINT}, </if>
      <if test="uploader != null" > uploader = #{uploader,jdbcType=VARCHAR}, </if>
      <if test="createdTime != null" > created_time = #{createdTime,jdbcType=TIMESTAMP}, </if>
      <if test="updatedTime != null" > updated_time = #{updatedTime,jdbcType=TIMESTAMP}, </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="kr.co.easymanual.model.EmAttachments" >
    update em_attachments
    set langset = #{langset,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      hash_name = #{hashName,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      extension = #{extension,jdbcType=VARCHAR},
      size = #{size,jdbcType=BIGINT},
      uploader = #{uploader,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <!-- resultType 은 맵핑될 클래스 명을 쓰는 것이고 resultMap 은 자기가 원하는 POJO 클래스에 매핑 시킬 수 있습니다. -->
  <select id="selectAll" resultType="java.util.HashMap">
    SELECT <include refid="Base_Column_List" /> FROM em_attachments
  </select>
  <select id="selectAllByField" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    SELECT <include refid="Base_Column_List" /> FROM em_attachments ORDER BY ${fieldName} ${sort} 
  </select>  

  <select id="selectByHashName" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM em_attachments WHERE hash_name = #{hashName,jdbcType=VARCHAR}
  </select>

</mapper>